{% extends "base.html" %}
{% block content %}
<h2>Контейер {{ container.name }}</h2>

<h3>Производительность</h3>

<div>
    <p>
        Среднее время ответа: <b id="t-response-avg">0ms</b>
    </p>
    <p>
        Кол-во запросов: <b id="t-response-req">0</b>
    </p>
    <p>
        Среднее число ответов в секунду: <b id="t-response-users">0</b>
    </p>
    <p>
        Пропускная способоность: <b id="t-response-throughput">0/min</b>
    </p>
</div>
<canvas id="t_response_Usage" width="400" height="150" data-container="{{ container.name }}"></canvas>

<h3>CPU</h3>

<div>
    <p>
        Среднее использование CPU: <b id="cpu-avg">0%</b>
    </p>
</div>

<canvas id="cpu_Usage" width="400" height="150" data-container="{{ container.name }}"></canvas>

<h3>RAM</h3>

<div>
    <p>
       среднее использование RAM: <b id="ram-avg">0%</b>
    </p>
</div>
<canvas id="ram_Usage" width="400" height="150" data-container="{{ container.name }}"></canvas>

<h3>Время ответа</h3>

<div>
    <p>
        Среднее время ответа: <b id="response-avg">0ms</b>
    </p>
</div>
<canvas id="response_Usage" width="400" height="150" data-container="{{ container.name }}"></canvas>


<script>
    $(function () {
        var container = $("#cpu_Usage").data('container');

        var send = function (cmd, container, callback) {
            $.ajax({
                type: "GET",
                url: "/user/container/" + cmd + '/' + container,
                success: function (data) {
                    callback(data)
                },
                error: function () {
                    return false
                }
            });
        };


        var t_response_chart = function (data) {
            $('#t-response-avg').html(data.total_avg + "ms");
            $('#t-response-req').html(data.total_req);
            $('#t-response-users').html(data.normal);
            $('#t-response-throughput').html(data.total_throughput + '/min');
            var ctx = document.getElementById("t_response_Usage");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Запросов',
                        data: data.data.requests,
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10
                    },
                        {
                            label: 'Среднее время ответа мс',
                            data: data.data.avg,
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(255,99,132,0.2)",
                            borderColor: "rgba(255,99,132,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10
                        }, {
                            label: 'Пропускная способность сек',
                            data: data.data.throughput,
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(144,99,132,0.2)",
                            borderColor: "rgba(155,99,132,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10
                        },
                            {
                            label: 'Максимальное число ответов в секунду',
                            data: data.data.normal,
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(144,99,132,0.2)",
                            borderColor: "rgba(15,255,132,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10
                        }
                    ]
                }
            });
        };

        var cpu_chart = function (data) {
            $('#cpu-avg').html(data.total_avg);
            var ctx = document.getElementById("cpu_Usage");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {

                    labels: data.labels,
                    datasets: [{
                        label: '% CPU',
                        data: data.data.avg,
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10
                    }]
                }
            });
        };

        var ram_chart = function (data) {
            $('#ram-avg').html(data.total_avg);
            var ctx = document.getElementById("ram_Usage");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {

                    labels: data.labels,
                    datasets: [{
                        label: 'RAM',
                        data: data.data.avg,
                        backgroundColor: "rgba(255,99,132,0.2)",
                        borderColor: "rgba(255,99,132,1)",
                        borderWidth: 1,
                        hoverBackgroundColor: "rgba(255,99,132,0.4)",
                        hoverBorderColor: "rgba(255,99,132,1)"
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        };

        var response_chart = function (data) {
            $('#response-avg').html(data.total_avg);
            var ctx = document.getElementById("response_Usage");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {

                    labels: data.labels,
                    datasets: [{
                        label: 'время ответа',
                        data: data.data.avg,
                        fill: false,
                        lineTension: 0.5,
                        backgroundColor: "rgba(144,99,132,0.2)",
                        borderColor: "rgba(155,99,132,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10
                    }]
                }
            });
        };

        send('log/hourly/response', container, t_response_chart);
        send('stats/hourly/response', container, response_chart);
        send('stats/hourly/cpu', container, cpu_chart);
        send('stats/hourly/ram', container, ram_chart);

    })

</script>
{% endblock %}