{% extends "base.html" %}
{% block content %}
<h2>Edit continer</h2>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" name="form" method="post">
            <h2>Container name</h2>
            <div class="form-group">
                <label for="input-cpu" class="col-lg-2 control-label">CPU</label>
                <div class="col-lg-10">
                    <input name="cpu" type="text" class="form-control" id="input-cpu">
                </div>
            </div>
             <div class="form-group">
                <label for="input-ram" class="col-lg-2 control-label">RAM</label>
                <div class="col-lg-10">
                    <input name="ram" type="text" class="form-control" id="input-ram">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">Создать</button>
                    <span class="help-block error"></span>
                </div>
            </div>
            {{ form.hidden_tag() }}
        </form>
    </div>
    <div class="col-md-6">
        <h2>Change container performance</h2>
        <p>Change and performance</p>
    </div>
</div>
<script>
    $(function () {
        $("#input-cpu").ionRangeSlider({
            min: 10,
            max: 100,
            from: 25,
            postfix: "%",
            grid: true
        });
        $("#input-ram").ionRangeSlider({
            min: 128,
            max: 1024,
            from: 256,
            postfix: "M",
            grid: true
        }
        );
    })

</script>
{% endblock %}