geo2tag_%user_id%:
  image: %image_container%
  ports:
    - "%port%:80"
   volumes:
    - %plugins_path%:/var/www/geomongo/src/plugins
    - %logs_path%:/var/log/apache2
  #memory control here;
  links:
    - mongo
mongo_%user_id%:
  image: mongo:latest
  volumes:
    - %db_path%:/data/db